
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}


    <section class="content-header">
        <h4>Welcome Blog Admin Manage Panel</h4>
        <small class="text-primary">
          <i class="fa fa-info-circle"></i> 
         Please use left menu for manage blog.
        </small>
    </section>


